{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet">

  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href= "{% static "css/mdb.min.css" %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Voice2Emotion</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">


      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-play"></i>
          <span>Record</span></a>
      </li>


      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      
          </div>

          <div class="row">
            <div class="col-lg-6 mb-4">

              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Upload an audio file</h6>
                </div>
                <div class="card-body">
                    <!-- <form  method="post" class="md-form">
                        <div class="file-field big">
                          <a class="btn-floating btn-lg pink lighten-1 mt-0 float-left">
                            <i class="fas fa-paperclip" aria-hidden="true"></i>
                            <input type="file" name='myfile' multiple>
                          </a>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                          </div>
                        </div>
                        <button type="submit" class="btn btn-link">Link</button>
                      </form> -->
                      <form method="post" enctype="multipart/form-data" class = "md-form">
                        {% csrf_token %}
                        <div class="file-field big">
                          <a class="btn-floating btn-lg  lighten-1 mt-0 float-left">
                            <i class="fas fa-paperclip" aria-hidden="true"></i>
                            <input type="file"  name="myfile">
                          </a>
                          
                        </div>
                        <button type="submit" class="btn bg-gradient-primary float-right">Upload</button>
                      </form>
                  </div>
              </div>


            </div>

          </div>
          
          <!-- Content Row -->
          <!-- <div class="row">
              

            
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Nuetral</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-grin-hearts fa-2x text-success-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Calm</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-sad-tear fa-2x text-warning-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

           
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Happy</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dizzy fa-2x text-primary-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Sad</div>
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0%</div>
                          </div>
                          <div class="col">
                            <div class="progress progress-sm mr-2">
                              <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dizzy fa-2x text-primary-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            

            

            
          </div> -->

          <!-- Content New Row -->
          <!-- <div class="row">

            
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1 ">Angry</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-smile fa-2x text-info-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Fear</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-angry fa-2x text-danger-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Disgust</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dizzy fa-2x text-primary-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Surprise</div>
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0%</div>
                          </div>
                          <div class="col">
                            <div class="progress progress-sm mr-2">
                              <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-surprise fa-2x text-primary-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

           


        
            
          </div> -->
          <!-- Content Row -->

          {% if uploaded_file_url %}

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Emotions varying by time</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  
                  <div id="chartContainer" class="chart-area">
                    <canvas id="myAreaChart"></canvas>

                  </div>
                </div>
              </div>
            </div>


          </div>

          <!-- Content Row -->
          
          <div class="row">

            <div class="col-lg-12 mb-12">

              
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Overall Emotions</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">Nuetral <span class="float-right">4%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 4%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Calm <span class="float-right">3%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 3%" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Happy <span class="float-right">4%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 4%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Sad <span class="float-right">18%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Anger <span class="float-right">20%</span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 17%" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <br>
                  <h4 class="small font-weight-bold">Fear <span class="float-right">16%</span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 14%" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <br>
                  <h4 class="small font-weight-bold">Disgust <span class="float-right">18%</span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 13%" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <br>
                  <h4 class="small font-weight-bold">Surprise<span class="float-right">17%</span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>

            </div>
            
          </div>
          {% endif %}

        </div>

      
        <!-- /.container-fluid -->

      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %} "></script>

  <!-- Core plugin JavaScript-->
  <script src="{%static "vendor/jquery-easing/jquery.easing.min.js" %} "></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static "js/sb-admin-2.min.js" %}"></script>

  <!-- Page level plugins -->
  <!-- <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>

  <!-- Page level custom scripts -->
  <!-- <script src="{% static "js/demo/chart-area-demo.js" %}"></script> --> 


  <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}""></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static "js/mdb.min.js" %}"></script>
  <!-- <script src="js/demo/chart-pie-demo.js"></script> -->
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  
  {% if uploaded_file_url %}
    
  <script>
     
      var dps0 = []; // dataPoints
      var dps1 = []; // dataPoints
      var dps2 = []; // dataPoints
      var dps3 = []; // dataPoints
      var dps4 = []; // dataPoints
      var dps5 = []; // dataPoints
      var dps6 = []; // dataPoints
      var dps7 = []; // dataPoints  
      var chart = new CanvasJS.Chart("chartContainer", {
        title :{
          text: "Emotions Varying by time"
        },
        axisY: {
          includeZero: false
        },      
        data: [{
              name :'NEUTRAL',
              showInLegend : true,
          type: "line",
          dataPoints: dps0
        },
                 {
              name :'CALM',
              showInLegend : true,
          type: "line",
          dataPoints: dps1
        },
          {
              name :'HAPPY',
              showInLegend : true,
          type: "line",
          dataPoints: dps2
          },
          {
              name :'SAD',
              showInLegend : true,
          type: "line",
          dataPoints: dps3
        },
                  {
              name :'ANGRY',
              showInLegend : true,
          type: "line",
          dataPoints: dps4
          },
          {
              name :'FEAR',
              showInLegend : true,
          type: "line",
          dataPoints: dps5
        },
            {
              name :'DISGUST',
              showInLegend : true,
          type: "line",
          dataPoints: dps6
          },
          {
              name :'SURPRISE',
              showInLegend : true,
          type: "line",
          dataPoints: dps7
        },
                ]
      });
      
      var xVal = 0;
      var yVal0 = [0,1,2,1,3,1,1,2,1,2,1,1,1,4,2,1,1,5,4,3,4];  //nue
      var yVal1 = [0,2,1,1,1,4,3,3,1,1,1,1,1,2,4,3,2,2,3,1,3];   //calm
      var yVal2 = [0,1,2,1,1,3,2,1,4,1,1,2,1,1,1,2,3,1,1,1,2];   //happy
      var yVal3 = [0,2,3,1,2,1,2,3,4,1,2,1,1,78,79,80,85,2,3,4,1];    //sad
      var yVal4 = [0,40,43,44,45,4,3,2,5,1,2,1,1,2,3,4,1,1,3,4,1];     //angry
      var yVal5 = [0,1,2,1,2,5,2,3,4,69,75,64,68,2,3,2,2,4,2,4,1];     //fear
      var yVal6 = [0,36,40,36,39,67,65,70,72,3,4,2,1,4,6,9,6,11,10,6,5];     //disgust
      var yVal7 = [0,1,2,3,2,1,4,2,3,2,4,3,1,1,1,3,3,67,64,69,70];     //surprise
      var updateInterval = 1000;
      var dataLength = 21; // number of dataPoints visible at any point
      
      var updateChart = function (count) {
      
        count = count || 1;
        // console.log(count);
      
        for (var j = 0; j < count; j++) {
          dps0.push({
            x: xVal,
            y: yVal0[j]
          });
              dps1.push({
            x: xVal,
            y: yVal1[j]
          });
              dps2.push({
            x: xVal,
            y: yVal2[j]
          });
              dps3.push({
            x: xVal,
            y: yVal3[j]
          });
              dps4.push({
            x: xVal,
            y: yVal4[j]
          });
            dps5.push({
            x: xVal,
            y: yVal5[j]
          });
              dps6.push({
            x: xVal,
            y: yVal6[j]
          });
            dps7.push({
            x: xVal,
            y: yVal7[j]
          });
          xVal++;
        }
      
        if (dps0.length > dataLength) {
          dps0.shift();
              dps1.shift();
              dps2.shift();
              dps3.shift();
              dps4.shift();
              dps5.shift();
              dps6.shift();
              dps7.shift();
        }
        chart.canvas.setAttribute("id", "myAreaChart");
        chart.render();
      };
      
      updateChart(dataLength);
      // var intervalId = setInterval(function(){updateChart()}, updateInterval);
      
      // clearInterval( intervalId );
      </script>
{% endif %}
</body>

</html>
